<mat-toolbar>
  <span>My Angular App</span>
</mat-toolbar>

<mat-card align="center" class="login_card">
  <mat-tab-group>
    <mat-tab label="Login">
      <div class="login_field">
        <mat-form-field appearance="fill" style="width: 100%; margin: 40px 0 0 30px;">
          <mat-label>Username</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="login_field">
        <mat-form-field appearance="fill" style="width: 100%; margin: 5px 0 0 30px;">
          <mat-label>Password</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </div>
      <div *ngIf="showLoginError" style="float: left; color: red; margin: 0 0 10px 30px;">
        Login Failed: Login information provided does not match our records</div>
      <mat-checkbox style="float: left; margin-left: 30px;">Remeber my username</mat-checkbox>
      <button mat-raised-button color="primary" style="float: right;  margin: 20px 30px 0 0;" (click)="showError()">Login</button>
    </mat-tab>
    <mat-tab label="Sign Up">
      <div *ngIf="!signUpDone">
      <div class="login_field">
        <mat-form-field appearance="fill" style="width: 100%; margin: 40px 0 0 30px;">
          <mat-label>Username</mat-label>
          <input matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher">
          <mat-hint>Please create your username</mat-hint>
          <mat-error *ngIf="usernameFormControl.hasError('minlength')">
            Username needs to have a length of <strong>5</strong> or more
          </mat-error>
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="login_field">
        <mat-form-field appearance="fill" style="width: 100%; margin: 5px 0 0 30px;">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
            placeholder="Ex. adam@example.com">
          <mat-hint>Please enter your email address!</mat-hint>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="login_field">
        <mat-form-field appearance="fill" style="width: 100%; margin: 5px 0 0 30px;">
          <mat-label>Password</mat-label>
          <input matInput type="password" [formControl]="passFormControl">
          <mat-hint>Please enter a password of length 8 or more</mat-hint>
          <mat-error *ngIf="passFormControl.hasError('minlength')">
            Password needs to have a length of <strong>8</strong> or more
          </mat-error>
        </mat-form-field>
      </div>
      <div class="login_field">
        <mat-form-field appearance="fill" style="width: 100%; margin: 5px 0 0 30px;">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" [formControl]="confirmFormControl" (input)="onPasswordInput()">
          <mat-hint>Please re-enter the password</mat-hint>
          <mat-error *ngIf="confirmFormControl.invalid && !confirmFormControl.hasError('required')">
            Passwords do not match
        </mat-error>  
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" style="float: right;  margin: 20px 30px 0 0;" [disabled]="checkDisabled()" (click)="doneSignUp(true)">
        Sign Up</button>
        </div>
        <div *ngIf="signUpDone">
          <div style="font-size: 18px; padding: 30px 0;">Please check your email to complete the sign up process</div>
          <button mat-raised-button color="primary" style="float: right;  margin: 20px 30px 0 0;" [disabled]="checkDisabled()" (click)="doneSignUp(false)">
            Back</button>
        </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>